.page {
  min-height: 100vh;
  background: #f5f7fb;
  padding: 40px;
  font-family: Arial, sans-serif;
}

h1 {
  color: #172b4d;
}

header p {
  color: #718096;
}

.screening-card {
  background: white;
  max-width: 700px;
  margin-top: 30px;
  padding: 50px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid #e5eaf1;
}

.icon {
  font-size: 50px;
}

.screening-card h2 {
  color: #172b4d;
}

.screening-card p {
  color: #718096;
  line-height: 1.7;
}

.screening-card button {
  margin-top: 15px;
  background: #1769e0;
  color: white;
  border: none;
  padding: 13px 25px;
  border-radius: 8px;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 25px;
}

.features div {
  background: white;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #e5eaf1;
}

.features h3 {
  color: #172b4d;
}

.features p {
  color: #718096;
}

.back-btn {
  margin-top: 25px;
  border: none;
  background: none;
  color: #1769e0;
}